<div class="container-fluid">
    <div class="row" id="row">
        <div class="col-3" id="foot">
            <img src="../../../assets/images/stkf.png" alt=""/>
            <div class="footer-con">
                <h5>SUPPORT PORTAL</h5>
                <ul>
                    <li>Solutions</li>
                    <li>Tickets</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="footer-con">
                <h5>DOCUMENTATION</h5>
            <ul>
                <li>Public Q&A</li>
                <li>Teams (Free, Basic, Business)</li>
               
            </ul>
            </div>
            
        </div>
        <div class="col-3">
            <div class="footer-con">
            <h5>PRODUCTS</h5>
            <ul>
                <li>Teams</li>
                <li>Advertising</li>
            
            </ul>
            </div>

        </div>
        <div class="col-3">
            <div class="social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter-square" aria-hidden="true"></i>
                <i class="fab fa-google-plus-g"></i>
                 <i class="fab fa-instagram-square"></i>
            </div>
        </div>
    </div>
</div>
