<div class="container">
  
        <div class="header">
            <h3>Tags</h3>
            <p>A tag is a keyword or label that categorizes your question with other, similar questions.
              Using the right tags makes it easier for others to find and answer your question.</p>
        </div>
     <div class="row">
        <div class="col-md-6">
            <div class="text">
                <h4>Javascript</h4>
                <p>Java is a high-level object oriented programming language. Use this tag when you're having problems using or understanding the language itself.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text">
                <h4>Javascript</h4>
                <p>Java is a high-level object oriented programming language. Use this tag when you're having problems using or understanding the language itself.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text">
                <h4>Javascript</h4>
                <p>Java is a high-level object oriented programming language. Use this tag when you're having problems using or understanding the language itself.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text">
                <h4>Javascript</h4>
                <p>Java is a high-level object oriented programming language. Use this tag when you're having problems using or understanding the language itself.</p>
            </div>
        </div>
        
    </div>
</div>