<div class="container">

        <div class="header">
            <h3>Users</h3>
        </div>
        
    <div class="row">
      
       <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile" routerLink="../profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
    <div class="col-md-3" id="house">
        <div class="img-icon">
            <i class="fas fa-user-alt"></i>
        <div class="profile">
            <h4>Samuel</h4>
            <p>Kenya</p>
            <p>1000</p>
        </div>
       </div>
    </div>
</div>